<div class="row">
    <div class="col-6">
        <app-dona [title]="title.sales"
                  [labels]= "donaLabels1"
                  [data]="donaChartData1">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [title]="title.products"
                  [labels]= "donaLabels2"
                  [data]="donaChartData2">
        </app-dona>
    </div>

</div>


<div class="row">
    <div class="col-6">
        <app-dona [title]="title.employees"
                  [labels]= "donaLabels3"
                  [data]="donaChartData3">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [title]="title.expenses"
                  [labels]= "donaLabels4"
                  [data]="donaChartData4">
        </app-dona>
    </div>

</div>
